.block-600{
	max-width: 600px;
	width: 100%;
	margin-left: auto;
}
.fl-fancy-module{
	height: 470px;
	margin-bottom: 60px;
	position: relative;
	overflow: hidden;
	border-radius: 20px;
}
.fl-fancy-module:hover .fl-fancy-img {
	transform: scale(1.1);
}
.fl-fancy-img{
	height: 100%;
	width: 100%;
	border-radius: 20px;
	transition: .5s;
}
.fl-video-play-cntlr i svg{
	width: 70px;
	height: auto;
}
.fl-video-play-cntlr,.fl-video-play-cntlr i{
	display: inline-block;
}
.fl-video-play-cntlr{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	z-index: 4;
}
.block-850{
	max-width: 850px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.block-1285{
	max-width: 1285px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.dfp-plate-one-img-bx{
	margin-bottom: 45px;
}
.dfp-plate-one-img-bx p{
	margin-bottom: 0;
}
.dfp-plate-one-img-bx img{
	width: 100%;
}
.innerpage-con-wrap{
	position: relative;
}
.default-page-con {
	padding-bottom: 68px;
	padding-top: 0;
}

.fl-dft-overflow-controller {
	overflow: hidden;
}
.default-page-con h1,
.dfp-promo-module-title,
.default-page-con h2,
.default-page-con h3,
.default-page-con h4,
.default-page-con h5{
	margin-bottom: 20px;
	line-height: 1.1;
}

.dfp-promo-module-title{
	color: #2E3044;
	margin-bottom: 30px;
	display: block;
	font-weight: 600;
}
.dfp-cta-module-cntlr{
	padding-bottom: 50px;
}
.dfp-These-experts-grid-module .Tegd-title{
	margin-bottom: 5px;
}
.dfp-These-experts-grid-module .These-experts-grids hr{
	margin-top: 40px;
}
.dfp-expertise-grid-module{
	padding-bottom: 90px;
}
.dfp-nieuws-sec-module .news-grd{
	width: 50%;
}
.dfp-nieuws-sec-module .news-grd-cntlr{
	box-shadow: 0px 4px 20px rgb(0 0 0 / 5%);
}
.dfp-nieuws-sec-module .sec-entry-hdr{
	padding-bottom: 60px;
}
.dfp-nieuws-sec-module hr{
	margin-top: 50px;
}

.dfp-text-module{
	padding-bottom: 15px;
}
/*
Gallery design
*/

.gallery-wrap h1,
.gallery-wrap h2,
.gallery-wrap h3,
.gallery-wrap h4,
.gallery-wrap h5,
.gallery-wrap h6{
	margin-bottom: 30px;
}
.gallery-icon.portrait{
	border-radius: 20px;
	overflow: hidden;
	transition: .5s;
}
.gallery-icon.portrait p{
	margin-bottom: 0;
}
.btmGallerySlider .gallery-icon.portrait:hover .gallery-icon-img {
	transform: scale(1.1);
}
.gallery {
	display: flex;
	flex-wrap: wrap;
	margin-left: -11px;
	margin-right: -11px;
}
.gallery-item {
	margin: 0;
	padding: 0 11px;
	margin-bottom: 22px;
	width: 50%;
}
.has-inline-bg .gallery-icon-img{
	height: 280px;
	display: block;
	transition: .5s;
}
.has-inline-bg .gallery-item img{
	display: none;
}
.gallery-item img {
	width: 100%;
}
.gallery-columns-3 .gallery-item {
    width: 33.3333%
}
.fancybox-image, .fancybox-spaceball{
	border-radius: 20px;
}
.gallerySlider .gallery-icon-innr{
	overflow: hidden;
	transition: .5s;
	border-radius: 20px;
}
.gallerySlider .gallery-icon-innr:hover .gallery-icon-img{
	transform: scale(1.1);
}


.fl-dft-lftimg-rgtdes {
	margin: 0 0;
	padding-bottom: 35px;
	display: flex;
	align-items: center;
}
.fl-dft-lftimg-rgtdes-lft{
	height: 400px;
}
.fl-dft-lftimg-rgtdes-lft div{
	height: 100%;
	width: 100%;
	border-radius: 20px;
}
.fl-dft-lftimg-rgtdes-lft-img-inr{
	width: 100%;
	height: 100%;
}
.fl-dft-lftimg-rgtdes-lft{
	width: 49%;
}
.fl-dft-lftimg-rgtdes-rgt {
	width: 51%;
	position: relative;
}
.fl-dft-lftimg-rgtdes-rgt {
	padding-left: 90px;
	padding-bottom: 5px;
	padding-top: 0;
}
.fl-dft-lftimg-rgtdes-rgt p:last-child{
	margin-bottom: 0;
}


.fl-dft-lftimg-rgtdes-lft img,
.fl-dft-testi-controller img{
	display: none;
}



/*-- left des right img customize---*/
.fl-dft-lftimg-rgtdes.fl-dft-rgtimg-lftdes{
	padding-top: 0;
}
.fl-dft-lftimg-rgtdes.fl-dft-rgtimg-lftdes .fl-dft-lftimg-rgtdes-lft{
	float: right;
	order: 2;
}
.fl-dft-lftimg-rgtdes.fl-dft-rgtimg-lftdes .fl-dft-lftimg-rgtdes-rgt{
	float: left;
	padding-left: 0;
	padding-right: 90px;
}



/*table*/
.dfp-table-module{

	padding-bottom: 60px;
}
.dfp-tbl-wrap{
	padding-top: 40px;
}
.dfp-tbl-wrap h6{
	color: #162B39;
	margin-bottom: 25px;
}
.table-dsc{
	padding: 0;
	background-color: transparent;
	border-top: none;
	border-top: 1px solid #edeef0;
}
.table-dsc {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
.table-dsc table{
	max-width: 850px;
	width: 100%;
}
.table-dsc::-webkit-scrollbar {
  height: 6px;
}
.table-dsc::-webkit-scrollbar-thumb {
  background: #F5F9F6;
  border-radius: 4px;
}


.table-dsc table tbody tr td:first-child,
.table-dsc table tbody tr td:last-child{
	color: #777F84;
}

.table-dsc table{
	width: 100%;
	padding: 20px;
	border: none;
	position: relative;
}
.table-dsc table:after {
    content: '';
    position: absolute;
    width: 37%;
    background: #F5F9F6;
    height: 6px;
    left: 20px;
    bottom: 5px;
    border-radius: 4px;
}
.table-dsc table tr th:last-child span{
	border-right: none;
}

.table-dsc table tbody tr:first-child td span{
	display: block;
}
.table-dsc table tbody tr:first-child td:last-child span{
	border-right: none;
}
.table-dsc table tbody tr td:first-child span{
	font-weight: 700;
	border-bottom: none;
}
.table-dsc table thead tr th:first-child,
.table-dsc table tbody tr td:first-child{
	padding-left: 15px;
	padding-right: 15px;
	width: 85px;
	text-align: left;
}

.table-dsc table tr th {
	border: none;
	color: #777F84;
	font-weight: 700;
	padding: 15px 0 14px;
	font-size: 16px;
	line-height: 18px;
}
.table-dsc table tr th span{
	display: block;
}
.table-dsc table thead th span{
	font-weight: 700;
	font-size: 16px;
	line-height: 18px;
	color: #777F84;
}
.table-dsc table thead tr th,
.table-dsc table tbody tr td{
	padding-left: 15px;
	padding-right: 15px;
}


.table-dsc table thead tr th:first-child,
.table-dsc table thead tr td:first-child{
	padding-left: 15px;
	padding-right: 15px;
	font-weight: 700;
}


.table-dsc table tbody{
	border-top: 0;
	margin: 0 3px;
}
.table-dsc table tbody tr td span{
	padding-top: 12px;
	padding-bottom: 12px;
}
.table-dsc table span{
	display: block;
}
.table-dsc table tbody tr td{
	border-top: 1px solid #edeef0;
}
.table-dsc table tbody tr:last-child span{
	border-bottom: none;
}

.table-dsc table tbody tr{
	border-left: 0;
	border-right: 0;
}

/*social-media*/
.dfp-social-media{

}
.dfp-social-media-ctlr{
	border-top: 1px solid #F3F3F3;
	display: flex;
	margin-left: auto;
	padding: 70px 0;
}
.dfp-social-media-inr{
	display: flex;
	margin-left: auto;
	align-items: center;
}
.dfp-social-media-inr ul{
	display: flex;
	padding-left: 24px;
	padding-bottom: 0;
	margin: 0 -10px;
}
.dfp-social-media-inr ul li{
	padding: 0 10px;
}
.dfp-social-media-inr ul li a{
	display: flex;
	border-radius: 50%;
	width: 32px;
	height: 32px;
	background: #0084A9;
	justify-content: center;
    align-items: center;
    color: #fff;
    text-decoration: none;
}
.dfp-social-media-inr ul li a:hover {
    background: #616268;
}

.dfp-social-media-inr ul li a i{
	display: inline-block;
	vertical-align: baseline;
	font-size: 18px;
}
.dfp-social-media-inr span{
	display: inline-block;
	vertical-align: baseline;
	font-size: 14px;
	font-weight: 600;
}
.dfp-blockqoute-module .blockqoute-slider-cntlr{
	padding-bottom: 70px;
}
.dfp-blockqoute-ctlr{
	padding-left: 30px;
	position: relative;
}
.dfp-blockqoute-border{
	position: absolute;
    top: -30px;
    left: 0;
    right: 30px;
    height: 100%;
    border: 1px solid #BBDDC3;
    z-index: 1;
}
.dfp-blockqoute blockquote{
	padding: 100px 50px 100px 200px;
	background: #F5F9F6;
	position: relative;
	margin-bottom: 0;
}
.dfp-blockqoute-des{
	position: relative;
	z-index: 2;
}
.dfp-blockqoute blockquote i{
	position: absolute;
	top: 65px;
    left: 55px;
    max-width: 70px;
	width: 100%;
}
.dfp-blockqoute blockquote p{
	font-size: 30px;
	line-height: 1.1;
	color: #4C5D5B;
	font-weight: 300;
	margin-bottom: 25px;
}
.dfp-blockqoute blockquote strong{
	padding-left: 16px;
	position: relative;
}
.dfp-blockqoute blockquote strong:after{
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	height: 2px;
	width: 5px;
	background: #4C5D5B;
}

.dfp-partners-module .wf-client-grds ul{
	padding-left: 0;
	padding-bottom: 0;
}
.dfp-partners-module .wf-client-grds ul li {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 30px;
}


.dfp-These-experts-grid-module{
	padding-top: 80px;
}

.dfp-nieuws-module .wf-recente-update-hdr-lft {
    padding-right: 0;
    width: 100%;
}

.dfp-nieuws-module .wf-nieuws-grds ul{
	padding-left: 0;
	padding-bottom: 0;
}
.dfp-nieuws-module .wf-nieuws-grds ul li{
	padding-left: 0;
	padding-bottom: 60px;
}
hr{
	margin: 70px 0;
	border-bottom: 1px solid #f3f3f3;
	border-top: none;
}
.dfp-btn-module{
	padding-top: 60px;
}
.dfp-btn-module .dfp-btn-module-ctlr ul{
	padding-left: 0;
	display: flex;
	align-items: center;
	margin-left: -12px;
	margin-right: -12px;
	justify-content: space-between;
}

.dfp-btn-module-ctlr ul li{
	padding-left: 12px;
	padding-right: 12px;
	padding-bottom: 0;
}

.dfp-lft-hr-border{
	padding-top: 60px;
	position: relative;
}
.dfp-lft-hr-border:after{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 67%;
	height: 5px;
	background: #F5F9F6;
}

.dfp-rgt-hr-border{
	padding-top: 70px;
	position: relative;
}
.dfp-rgt-hr-border:after{
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 67%;
	height: 5px;
	background: #F5F9F6;
}
.dfp-grd-module-ctlr{
	padding-bottom: 40px;
}
.dfp-grd-module-ctlr .dfp-grd-item{
	margin-bottom: 20px;
}




/*nieuws details*/
#nieuws-details{
	padding-bottom: 0;
}
#nieuws-details .block-980{
	max-width: 980px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
#nieuws-details .dfp-promo-module-des{
	padding-left: 40px;
}
#nieuws-details .dfp-promo-module-des-ctlr{
	display: flex;
	padding-bottom: 40px;
}
#nieuws-details .dfp-promo-module-des-inr .dfp-promo-module-title{
	margin-bottom: 23px;
}
#nieuws-details .dfp-promo-module-address ul{
	display: flex;
	padding: 0;
	margin: 0 -25px;
}
#nieuws-details .dfp-promo-module-address ul li{
	padding: 0 25px;
}
#nieuws-details .dfp-date-module .news-grd-date{
	position: static;
}
#nieuws-details .dfp-plate-one-img-bx{
	margin-bottom: 20px;
}
#nieuws-details .dfp-promo-module-author span,#nieuws-details .dfp-promo-module-author strong{
	font-size: 14px;
}
#nieuws-details .dfp-promo-module-author strong{
	font-weight: 600;
}
#nieuws-details .sec-entry-hdr{
	padding-bottom: 55px;
}
#nieuws-details .dfp-btm-grid-module{
	padding-bottom: 30px;
}
