
.hm-banner{
	padding: 40px 0;
	position: relative;
}
.hm-banner-cntlr{
	background: #002544;
}
.hm-banner-img-cntlr {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 565px;
    width: 50%;
}
.hm-banner-img{
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 286.5px;
}
.hm-banner-desc {
    min-height: 490px;
    display: flex;
    align-items: center;
}
.hm-banner-desc-cntlr{
	padding-left: 100px;
}
.hm-banner-desc-cntlr p{
	color: #fff;
}
.hm-banner-desc-cntlr p strong{
	font-weight: 600;
}
.hm-banner-desc-cntlr p:last-of-type{
	margin-bottom: 28px;
}
.hm-banner-desc-title{
	color: #fff;
	line-height: 1.13;
	margin-bottom: 15px;
}
.hm-banner-desc-title strong{
	font-weight: 600;
	color: #0084A9;
}
.hm-banner-desc-btn .fl-ci-btn{
	margin-right: 15px;
}
.our-care-lft-ttl-rgt-desc{
	padding: 100px 0;
}
.our-care-lft-ttl-rgt-desc p:last-of-type{
	margin-bottom: 0;
}
.our-care-lft-ttl-rgt-desc-inr{
	display: flex;
}
.our-care-lft-ttl{
	width: 52%;
	padding-right: 20px;
}
.our-care-lft-title{
	line-height: 1.4;
}
.our-care-rgt-desc{
	width: 48%;
	padding-left: 20px;
}
.our-care-lft-title strong{
	font-weight: 600;
	color: #0084aa;
}

.cta-module-desc{
	background: #0084aa;
	min-height: 285px;
	display: flex;
	align-items: center;
	padding: 50px 0;
	border-radius: 20px;
}
.cta-module-decs-cntlr{
	text-align: center;
	max-width: 740px;
	width: 100%;
	margin: 0 auto;
}
.cta-module-decs-cntlr p{
	color: #fff;
}
.cta-module-title{
	color: #fff;
}
.cta-module-btn .fl-ci-btn:nth-child(1){
	margin-right: 15px;
}
.cta-module-btn .fl-ci-white-btn:nth-child(2){
	min-width: 350px;
}


.blockqoute-sec{
	padding-top: 100px;
	padding-bottom: 110px;
}
.blockqoute-sec blockquote{
	max-width: 900px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

.blockquote-desc p{
	font-size: 28px;
	line-height: 1.4;
	font-weight: 300;
}
.blockquote-desc p:last-of-type{
	margin-bottom: 18px;
}
.blockquote-desc strong{
	font-weight: 600;
}
.blockqoute-cntlr{
	padding-bottom: 90px;
	border-bottom: 1px solid #F3F3F3;	
}


.expertise-grid-sec .sec-entry-hdr{
	padding-bottom: 35px;
}
.expertise-grid-sec{
	padding-bottom: 100px;
}
.expertise-grids{
	margin: 0 -19px;
	position: relative;
	display: flex;
	flex-wrap: wrap;
}
.expertise-grids-cntlr .slick-track{
	margin-bottom: 10px;
	border-bottom: 1px solid #F3F8FA;
}
.expertise-grids-cntlr .slick-current{
	position: relative!important;
}
.expertise-grids-cntlr .slick-current:after{
	position: absolute;
	content: '';
	height: 4px;
	width: 85px;
	background: #0084aa;
	left: 50%;
	bottom: -2px;
	transform: translateX(-50%);
}
.expertise-grd{
	width: 25%;
	padding: 0 19px 50px;
}
.expertise-grd-cntlr{
	text-align: center;
}
.expertise-grid-cntlr{
	text-align: center;
}
.expertise-grd-cntlr i{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 25px;
	width: 155px;
	height: 155px;
	border-radius: 50% 50%;
	background: #F3F8FA;
	margin-left: auto;
	margin-right: auto;
}
.expertise-grd-cntlr i img{
	width: auto;
	max-height: 68px;
}
.expertise-grd-cntlr:hover i img {
    transform: scale(1.1);
}
.expertise-grd-title{
	margin-bottom: 0;
}


.news-sec .sec-entry-hdr{
	padding-bottom: 58px;
}
.news-sec{
	background: #F3F8FA;
	padding: 90px 0;
	position: relative;
}
.news-lft-transparent-img{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
}
.news-grids{
	display: flex;
	margin: 0 -12px;
	flex-wrap: wrap;
}
.news-grd{
	padding: 0 12px 38px;
	width: 33.33%;
}
.news-grd-cntlr{
	background: #fff;
	position: relative;
	padding: 60px 30px 35px;
	border-radius: 10px;
}
.news-grd-title{
	line-height: 1.3;
}
.news-grd-date{
	width: 76px;
	height: 76px;
	border-radius: 50% 50%;
	background: #0084A9;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-size: 16px;
	color: #fff;
	font-weight: 500;
	text-transform: uppercase;
	line-height: 1;
	position: absolute;
	top: -38px;
}
.news-grd-date strong{
	display: block;
	font-size: 28px;
	font-weight: 600;
}
.news-grd-desc p{
	font-size: 14px;
}
.news-grd-desc p{
	margin-bottom: 10px;
}
.news-transparent-btn{
	text-align: center;
}
.news-grd-btn .fl-text-btn:hover svg{
	margin-right: -10px;
}


.blockqoute-slider-sec{
	padding-bottom: 0;
}
.blockqoute-slider-cntlr{
	text-align: center;
}
.blockqoute-sec-cntlr{
	padding-bottom: 100px;
	border-bottom: 1px solid #f3f3f3;
}
.blockqoute-slider-sec blockquote{
	max-width: 785px;
}
blockquote i{
	display: inline-block;
	vertical-align: baseline;
	margin-bottom: 20px;
}
.blockqoute-slider-sec blockquote i img{
	max-width: 85px;
	width: 100%;
	height: auto;
}
.blockqoute-itms-cntlr{
	padding-bottom: 10px;
}
.fl-prev-next .fl-prev{
	padding-right: 30px;
}
.fl-prev i,.fl-next i{
	cursor: pointer;
}
.blockqoute-slider-sec .fl-prev-next{
	text-align: center;
}
.blockqoute-slider-sec .fl-prev i:hover svg,
.blockqoute-slider-sec .fl-next i:hover svg{
	fill: #E63312;
}


.These-experts-grid-sec{
	padding-bottom: 140px;
	padding-top: 100px;
}
.These-experts-grids ul{
	display: flex;
	margin: 0 -10px;
	padding: 0;
}
.These-experts-grids ul li{
	padding: 0 10px 40px;
	width: 25%;
}
.These-experts-grd-img-ctlr{
	position: relative;
	overflow: hidden;
}
.has-inline-bg .These-experts-grd-img{
	height: 280px;
	transition: .5s;
	-ms-transition: .5s;
	-webkit-transition: .5s;
}
.These-experts-grd-img img{
	display: none;
}
.These-experts-grd-desc{
	padding-top: 20px;
}
.Tegd-title{
	margin-bottom: 5px;
}
.These-experts-grd-desc span{
	font-size: 13px;
}
.These-experts-grd-cntlr:hover .These-experts-grd-img{
	transform: scale(1.1);
	-ms-transform:  scale(1.1);
	-webkit-transition: scale(1.1);
}
.These-experts-btn{
	text-align: center;
}

.over-cottyn-sec-cntlr{
	background: #012545;
	border-radius: 20px;
	padding: 60px 74px 60px;
}
.over-cottyn-sec-title{
	color: #fff;
}
.over-cottyn-sec-cntlr p{
	color: #fff;
	margin-bottom: 20px;
}
.over-cottyn-sec-cntlr p span{
	font-weight: 500;
}
.over-cottyn-btn .fl-ci-btn{
	margin-right: 15px;
	min-width: 130px;
}

