.newus-ov-grd-sec{
	padding-top: 150px;
	padding-bottom: 40px;
}
.newus-ov-grd-sec-cntlr .news-grd{
	width: 50%;
	padding: 0 12px 90px;
}
.news-ovrzt-select-cntlr .page-entry-hdr{
	margin-bottom: 60px;
}
.news-ovrzt-select-cntlr{
	padding-bottom: 61px;
}
.ctn-select-wrap{
	display: flex;
}