.over-ons-grid-sec {
    padding-bottom: 45px;
}
.over-ons-grids ul li:nth-child(2n+2) .over-ons-grid-img-ctlr{
	order: 2;
	width: 49%;
}
.over-ons-grids > ul > li:nth-child(2n+2) .over-ons-grid-desc-ctlr{
	padding-left: 0;
	padding-right: 100px;
	width: 51%;
}
.ov-grd-desc p:last-of-type{
	margin-bottom: 45px;
}
.over-ons-grid-cntlr{
	display: flex;
	align-items: center;
	padding-bottom: 60px;
}
.over-ons-grid-img-ctlr{
	width: 49%;
}
.over-ons-grid-desc-ctlr{
	width: 49%;
	padding-left: 90px;
}
.has-inline-bg img{
	display: none;
}
.over-ons-grid-img{
	height: 410px;
	border-radius: 20px;
}
.large-img{
	height: 670px;
	border-radius: 20px;
}
.over-ons-grid-img-ctlr p{
	margin-bottom: 0;
	font-size: 13px;
	padding-top: 3px;

}
.oogd-title{
 	line-height: 1.4;
}
.oogd-title span{
 	color: #0084aa;
}

.ov-tab-btn{
	position: relative;
	margin-right: -100px;
	margin-bottom: 35px;
}
.ov-tab-btn > ul{
	display: flex;
	margin: 0 -40px;
	padding-left: 15px;
}
.ov-tab-btn > ul > li{
	padding: 0 40px;
}
.ov-tab-btn ul > li > a{
	display: inline-block;
	vertical-align: baseline;
	color: #2E3044;
	text-decoration: none;
	padding-bottom: 20px;
}
.ov-tab-btn ul li a:hover{
	color: #0083a9;
}
.ov-tab-btn:after {
    position: absolute;
    bottom: 0;
    background: #F3F3F3;
    height: 2px;
    width: 100%;
    left: 0;
    content: '';
}
.ov-tab-content-itm{
	display: none;
}
.ov-tab-content-items .ov-tab-content-itm-cntlr p{
	margin-bottom: 20px;
}
.ov-tab-content-item-active{
	display: block!important;
}
.ui-tabs-active{
	color: #0083a9!important;
	position: relative;
	font-weight: 600;
}
.ui-tabs-active:after{
	content: '';
	position: absolute;
	left: -6px;
	background: #0084aa;
	width: 85px;
	height: 4px;
	bottom: -1px;
	z-index: 2;
}