.slick-slider ul.slick-dots{
	position: static;
	line-height: 0;
	padding: 0 20px!important;
}
.slick-slider .slick-dots li{
	width: 58px!important;
	height: 4px!important;
	position: static;
	background: #F8F8F8!important;
	margin: 0 8px;
	padding: 0!important;
}
.slick-slider .slick-dots li.slick-active,
.slick-slider .slick-dots li:hover{
	background: #46C691!important;
}
.slick-slider .slick-dots li:before,
.slick-slider .slick-dots li button:before{
	content: none!important;
}
.slick-slider .slick-dots li button{
	padding: 0;
	width: 16px;
	height: 16px;
}

.slick-dots li:only-child{ 
	display: none; 
}


.sitemap{
	padding: 50px 0 70px;
}

.sitemap ol li a{
	color: #FF674D;
}
.sitemap ol li{
	padding-left: 25px;
}

.sitemap ol li a:focus{
	text-decoration: underline;
}
/*pagination*/
.fl-pagination-cntlr{
    display: flex;
    justify-content: center;
    padding-top: 45px;
    position: relative;
}
.fl-pagination-cntlr ul{
	position: relative;
	width: 100%;
	display: flex;

	z-index: 10;
}
.fl-pagination-cntlr ul li::before{
	content: none;
}
.fl-pagination-cntlr ul, .fl-pagination-cntlr ul li{
    display: flex;
    justify-content: center;
    padding: 0 22px;
    align-items: center;
}
.fl-pagination-cntlr ul li span{
    font-weight: 700;
	font-size: 18px;
	line-height: 1;
	color: #444440;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fl-pagination-cntlr ul li a,
.page-numbers.dots,
.fl-pagination-cntlr ul li span{
}
.fl-pagination-cntlr ul li a.prev {
    position: absolute;
    left: 0;
    height: 14px;
    width: 14px;
}
.fl-pagination-cntlr ul li a.next{
	position: absolute;
	right: 0;
	height: 14px;
	width: 14px;
}
.fl-pagination-cntlr ul li a,
.page-numbers.dots {
	font-weight: 700;
	font-size: 18px;
	line-height: 1;
	color: #444440;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
	text-decoration: none;
}
.fl-pagination-cntlr ul li{
	position: initial;
}
.fl-pagination-cntlr ul li a.prev {
    position: absolute;
    left: 0;
}
.fl-pagination-cntlr ul li a.next {
    position: absolute;
    right: 0;
}
.fl-pagination-cntlr ul li a:hover,
.fl-pagination-cntlr ul li span:hover{
    color: #46C691;
}
.page-numbers.current{
    color: #46C691;
}
.fl-pagination-cntlr .prev, .fl-pagination-cntlr .next{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 110px!important;
}
.fl-pagination-cntlr .prev:after {
    position: absolute;
    content: "";
    background-image: url('../images/prev-icon.svg');
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    background-size: 100% auto;
    transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
    left: 0;
}
.fl-pagination-cntlr .prev:hover:after{
	background-image: url('../images/prev-icon-hover.svg');
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.fl-pagination-cntlr .next:after{
    position: absolute;
    content: "";
    background-image: url('../images/next-icon.svg');
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    background-size: 100% auto;
    right: 0;
    transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.fl-pagination-cntlr .next:hover:after{
	background-image: url('../images/next-icon-hover.svg');
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	
}



/* common button */

.fl-ci-btn{
	display: inline-block;
    vertical-align: baseline;
    min-width: 195px;
    color: #fff;
    background: #0084A9;
    font-size: 13px;
    font-weight: 600;
    line-height: 1.5;
    text-align: center;
    padding: 9px 20px;
    font-weight: 600;
    border: 2px solid #46C691;
    text-transform: capitalize;
    border-radius: 50px;
    text-decoration: none;
    border: 2px solid #0084A9;
    text-transform: uppercase;
}
.fl-ci-btn:hover{
	background: transparent;
}
.fl-ci-btn.ci-transparent-btn{
	background: transparent;
	color: #0084A9;
}

.fl-ci-btn.fl-navyblue-btn{
	background: #002544;
	border: 2px solid #003544;
}
.fl-ci-btn.navyblue-transparen-btn:hover{
	background-color: #002544;
	color: #fff;
}
.fl-ci-btn.fl-navyblue-btn:hover{
	background: transparent;
	color: #002544;
}
.fl-ci-btn.navyblue-transparen-btn{
	background: transparent;
	color: #002544;
	border: 2px solid #003544;
}
.fl-ci-btn.ci-transparent-btn:hover{
	background: #0084A9;
	color: #fff;
}
.fl-ci-btn.fl-ci-white-btn{
	border: 2px solid #fff;
	color: #fff;
	background: transparent;
}
.fl-ci-btn.fl-ci-white-btn:hover{
	background: #fff;
	color: #0084A9;
}

.fl-text-btn:hover i{
	margin-right: -5px;
}



/*start-sec-entry-hdr*/

.sec-entry-hdr{
	padding-bottom: 20px;
	max-width: 800px;
	width: 100%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.sec-entry-hdr-title{
	margin-bottom: 15px;
	line-height: 1.4;
}
.sec-entry-hdr p:last-of-type{
	margin-bottom: 15px;
}
.sec-entry-hdr p span{
	font-weight: 600;
}


/*page-banner*/
.page-bnr{
	padding-bottom: 55px;
}
.page-bnr-cntlr {
    position: relative;
    padding: 32px 0 28px;
}
.page-bnr-lft-bg{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background: #F3F8FA;
    z-index: 2;
    width: 50%;
    border-bottom-right-radius: 286.5px;
}
.page-bnr-lft-rgt-cntlr {
    display: flex;
    position: relative;
    z-index: 4;
    align-items: center;
}
.page-bnr-lft {
    width: 50%;
    position: relative;
}
.page-bnr-lft-trnsprnt-bg{
	position: absolute;
	width: 70px;
	height: 50px;
	right: -40px;
	top: 10px;
	background: rgba(255, 255, 255, 0.06);
	border-top-right-radius: 30px;
}
.page-bnr-title{
	line-height: 1.3;
	margin-bottom: 0;
}
/*start-page-entry-hdr*/
.page-entry-hdr-brdr-btm{
	border-bottom: 1px solid #f3f3f3;
}
.page-entry-hdr{
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 25px;
}
.page-entry-hdr p{
	
}


.breadcrumb-cntlr {
    width: 50%;
    padding: 18px 50px 17px 86px;
}
.page-bnr-lft-rgt {
    background: #0084aa; 
}
.breadcrumb-cntlr ul{
	display: flex;
	margin: 0 -30px;
}
.breadcrumb-cntlr ul li{
	padding: 0 30px;
	position: relative;
}
.breadcrumb-cntlr ul li:not(:last-child):after{
	content: '';
	position: absolute;
	background-image: url('../images/breadcrumbs-rgt-arrow.svg');
	right: 0;
	top: 50%;
	transform: translate(50%,-50%);
	width: 12px;
	height: 7px;
}
.breadcrumb-cntlr ul li a{
	text-transform: uppercase;
	color: #fff;
	font-size: 13px;
	font-weight: 600;
	text-decoration: none;
	line-height: 1.5;
}
.breadcrumb-cntlr ul li a:hover{
	color: #2E3044;
}




/*start-cmmn-ul-li*/
.default-page-con ul,
ul{
	margin: 0;
	list-style-type: none;
	padding-left: 19px;
	padding-bottom: 15px;
}
.default-page-con ul li,
ul li{
	padding-bottom: 10px;
	padding-top: 4px;
	padding-left: 23px;
	position: relative;
	line-height: 25px;
	color: #444440;
}
.default-page-con ul li:before,
ul li:before{
	content: '';
	position: absolute;
	background: #626368;
	height: 2px;
	width: 12px;
	left: 0;
	top: 0;
	margin-top: 15px;
	background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 100%;
}

.default-page-con ol,
ol{
    margin: 0;
	list-style-type: none;
	padding-left: 19px;
	padding-bottom: 15px;
    counter-reset: my-awesome-counter;
    -ms-counter-reset: my-awesome-counter;
    -webkit-counter-reset: my-awesome-counter;
}
.default-page-con ol li,
ol li{
    padding-bottom: 10px;
	padding-top: 4px;
	padding-left: 23px;
	position: relative;
	line-height: 25px;
    counter-increment: my-awesome-counter;
    -ms-counter-increment: my-awesome-counter;
    -webkit-counter-increment: my-awesome-counter;
}
.default-page-con ol li:before,
ol li:before{
    content: counter(my-awesome-counter) "."!important;
    font-weight: 600;
	position: absolute;
	color: #626368;
	left: 0;
	top: 0;
	margin-top: 4px;
	background-repeat: no-repeat;
    background-size: 100%;

}

/*xs-page-entry-menu*/
.xs-page-entry-menu{
	margin-bottom: 36px;
}
.xs-page-entry-menu ul{

}
.xs-page-entry-menu > ul > li{
	background: rgba(68, 68, 65, 0.04);
	position: relative;
	line-height: 1;
}
.xs-page-entry-menu > ul > li a{
	text-decoration: none;
	display: inline-block;
	width: 100%;
	font-size: 16px;
	line-height: 1;
	letter-spacing: -0.02em;
	color: #444440;
	padding: 21px 20px 23px;
	text-transform: capitalize;
}
.xs-page-entry-menu > ul > li > a{
	position: relative;
}
.xs-page-entry-menu > ul > li > a:after{
	position: absolute;
	content: "";
	top: 23px;
	right: 23px;
	background-image: url('../images/next-icon.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	width: 14px;
	height: 14px;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.xs-page-entry-menu > ul > li.active > a:after{
	transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-o-transform: rotate(90deg);
}
.xs-page-entry-menu > ul > li > ul.page-entry-sub-menu{
	position: absolute;
	background: #FFFFFF;
	box-shadow: -10px 10px 30px rgba(68, 68, 65, 0.1);
	left: 0;
	top: 100%;
	right: 0;
	z-index: 111;
	padding-top: 10px;
	padding-bottom: 14px;
	display: none;
}

@media(max-width: 1199px){
	.breadcrumb-sec{
		padding-bottom: 50px;
	}
	.breadcrumb-cntlr ul{
		margin: 0 -25px;
	}
	.breadcrumb-cntlr ul li{
		padding: 0 25px;
	}
	
}

@media(max-width: 991px){
	.breadcrumb-sec{
		padding-bottom: 30px;
	}
	.breadcrumb-cntlr ul{
		margin: 0 -20px;
	}
	.breadcrumb-cntlr ul li{
		padding: 0 20px;
	}
}
@media(max-width: 767px){
	.fl-tc-btn{
		min-width: 144px;
		font-size: 16px;
	}
	.fl-pagination-cntlr ul li{
		padding: 0 15px;
	}
	.fl-pagination-cntlr{
		padding-top: 35px;
	}
	.page-entry-hdr-title{
		margin-bottom: 15px;
	}
	.sec-entry-hdr{
		padding-bottom: 10px;
	}
}
@media(max-width: 575px){
	.fl-tc-btn{
		min-width: 144px;
		font-size: 16px;
	}
	.fl-pagination-cntlr ul li{
		padding: 0 12px;
	}
	.slick-slider .slick-dots li{
		width: 40px!important;
		margin-bottom: 8px;
	}
	.page-entry-hdr-title{
		margin-bottom: 0;
	}
	.page-entry-hdr{
		padding-bottom: 30px;
	}
 	.sec-entry-hdr{
 		padding-bottom: 5px;
	}
	.sec-entry-hdr-title{
		margin-bottom: 15px;
	}
}

