.expertise-ovrvw-con-cntlr .expertise-grid-sec{
	padding-bottom: 30px;
}
.expertise-ovrvw-con-cntlr .expertise-grd{
	padding-bottom: 80px;
}
.expertise-ovrvw-con-cntlr .page-bnr{
	padding-bottom: 70px;
}


.expertise-ovrvw-search-ctlr{
	max-width: 848px;
	width: 100%;
	margin: 0 auto;
	padding-bottom: 70px;
}
.expertise-ovrvw-search-ctlr form{
	position: relative;
}
.expertise-ovrvw-search-ctlr label{
    display: inline-block;
    vertical-align: baseline;
    margin-bottom: 13px;
    line-height: 1;
}
.expertise-ovrvw-search-ctlr form input[type="search"]{
	width: 100%;
	height: 56px;
	border: 1px solid #D7E4E9;
	padding: 15px 70px 15px 21px;
	color: #2E3044;
	text-transform: capitalize;
	font-size: 14px;
	position: relative;
}
.expertise-ovrvw-search-ctlr form input[type="search"]::placeholder{
	color: #A1A1A3;
}
.expertise-ovrvw-search-ctlr form input[type="search"]::-ms-placeholder{
	color: #A1A1A3;
}
.expertise-ovrvw-search-ctlr form input[type="search"]::-webkit-placeholder{
	color: #A1A1A3;
}
.expertise-ovrvw-search-ctlr form input[type="search"]::-moz-placeholder{
	color: #A1A1A3;
}
.expertise-ovrvw-search-ctlr form input[type="search"]:focus{
	box-shadow: 0px 0px 5px -1px rgb(0 0 0 / 15%);
}
.expertise-ovrvw-search-ctlr form button{
    cursor: pointer;
    position: absolute;
    right: 0;
    bottom: 0;
    background: transparent;
    padding: 12px 23px 12px;
}
.expertise-ovrvw-search-ctlr form button:hover i svg{
	fill: #A1A1A3;
}